div {
  text-align: center;
}

#container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:
    'aside router-outlet router-outlet router-outlet router-outlet router-outlet router-outlet router-outlet'
    'aside router-outlet router-outlet router-outlet router-outlet router-outlet router-outlet router-outlet'
    'aside router-outlet router-outlet router-outlet router-outlet router-outlet router-outlet router-outlet'
    'aside router-outlet router-outlet router-outlet router-outlet router-outlet router-outlet router-outlet';

  /*  height: 500px;
 */
  margin: 0 auto;
}

#router-outlet {
  grid-area: router-outlet;
  margin: 10px;
  border: 1px dotted darkblue;
  background-color: azure;
  max-height: 90vh;
  width: 100%;
  max-width: 85vw;
  overflow: auto;
}

#menuPrincipal {
  display: grid;
  padding: 10px;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-auto-rows: 50px;
  grid-area: aside;
}

#menuPrincipal button {
  border-radius: 8px;
  color: bisque;
  background-color: black;
}

@media only screen and (min-width: 1000) {
  #container {
    border: 10px solid red;
  }
  #router-outlet {
    border: 10px solid red;
  }
}
