<!-- <button class="btnImg list-group-item shadow-lg p-3 mb-5 bg-white rounded"
            *ngFor="let plat of plats; let i = index">
            <h3 class="list-group-item-heading">
              {{ plat.Nom }}
            </h3>
            <p class="list-group-item-text">{{ plat.Categorie }}</p>
            <div class="imgParent">
              <img class="imgPlat" src="{{ plat.Image }}" alt="" />
            </div>
          </button> -->

<div id="platsContainer">
  <div *ngFor="let plat of plats; let i = index" class="platItem">
    <img src={{plat.Image}}>
    <div>
      <p>{{ plat.Nom}} </p>
      <br>
      {{plat.Categorie}}
    </div>
  </div>
</div>
